section.hero-slider.full-height.no-padding
	#fit-slider-images
	.inner-section
		.wrapper
			.fit-slider-wrapper
				.fit-slider
					.fit-slide.current
						.image
							img(src="images/pic01.jpg", alt="")
						.content
							h1.font-2 Создай свое <span class = "font-1">Идеальное</span> тело
							p Весна, время любви, радости, открытой одежды. А еще это предверие лета!!! 
							button.button кнопка
					.fit-slide
						.image
							img(src="images/pic02.jpg", alt="")
						.content
							h1 Создай свое <span class = "font-1">Идеальное</span> тело
							p Текст
							button.button кнопка
					.fit-slide
						.image
							img(src="images/pic03.jpg", alt="")
						.content
							h1 Текст
							p Текст
							button.button кнопка
