footer
	.awwwards
		.wrapper
			.container-fluid
				.row.text-center
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
					.col-xs-12.col-sm-6.col-md-2.col-lg-2
						.awwward
							img(src="https://www.healthcare-informatics.com/sites/healthcare-informatics.com/files/styles/570x360/public/HCI_InnovatorAwardSeal_2014_1.png?itok=uzZvBH-R", alt="")
	.lower-section
		.contact-info
			.wrapper
				.container-fluid
					.row
						.col-xs-12.col-sm-6.col-md-4.col-lg-4
							span <i class="fas fa-phone"> </i> +38232132415
						.col-xs-12.col-sm-6.col-md-4.col-lg-4
							span <i class="fas fa-phone"> </i> +38232132415
						.col-xs-12.col-sm-6.col-md-4.col-lg-4
							span <i class="fas fa-phone"> </i> +38232132415
		.document-container
			.wrapper
				.document.text-center
					img(src="http://ladyslim.com.ua/wp-content/uploads/2016/11/1414402907_sertifikat-yanhee-1.png", alt="")
	.footer
		.wrapper
			nav.footer-social-nav
				ul 
					li
						a(href="#") 
							i.fab.fa-instagram
					li
						a(href="#") 
							i.fab.fa-instagram
					li
						a(href="#") 
							i.fab.fa-instagram
					li
						a(href="#") 
							i.fab.fa-instagram
