header
	.navigation
		.wrapper
			.row.container-fluid.container-fluid.container-fluid
				.col-xs-12.col-sm-12.col-md-7.col-lg-7.no-padding
					nav.main-nav.font-5
						ul
							li
								a(href="#") Начало
							li
								a(href="#") О продукте
							li
								a(href="#") Сертифицирование
							li
								a(href="#") Свойства
							li
								a(href="#") Заказать
							.clearfix
						.clearfix
