section.how-it-works.full-height
	.row
		.col-md-6.image-bg
		.col-md-6
			.wrapper
				.text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nihil aspernatur aperiam deserunt eos incidunt quisquam, odit, facilis dolor modi est. Soluta expedita molestias modi doloremque cumque odio, nobis magni distinctio, laudantium dolore eligendi! Natus expedita, repellat culpa iure id iste magni aliquam ut veritatis dolorem et nam delectus cum.
