section.portfolio
	.inner-portfolio
		.wrapper
			.section-title.text-center
				h1 Мы гарантируем успех
				h3 Убедитесь сами

			.portfolio-slider-wrapper
				.portfolio-slider
					.portfolio-slide#portfolio-slide.twentytwenty-container
						img(src="https://as1.ftcdn.net/jpg/00/06/39/28/500_F_6392806_BHzu8fhUCPYkjPZDjxLLpxfduDiutIcu.jpg", alt="")
						img(src="https://as2.ftcdn.net/jpg/00/06/49/93/500_F_6499399_rA5aw7KBntPRfzrc429bfaXcPqQl9IGq.jpg", alt="")
			


