@import "libs/_vars.scss";
@import "libs/_functions.scss";
@import "layout/_header.scss";
@import "layout/_fit-slider.scss";
@import "layout/_features-section.scss";
@import "layout/feed.scss";
@import "layout/_product-features.scss";


body{
	background-color: _palette(bg);
	color: _palette(fc);
}

a{
	text-decoration: none;
	color: _palette(fc);
	&:hover{
		color: _palette(fc);
		text-decoration: none;
	}
}

img{
	width: 100%;
	height: auto;
}

.text-center{ text-align: center;}
.text-right	{text-align: right}
.text-left {text-align: left;}

.float-left{ float: left}
.float-right {float: right}



.wrapper{
	width: _size(wrapper);
	height: auto;
	margin: auto;
}


