.portfolio{
	min-height: 800px;
	width: 100%;
	display: table;
	.section-title{
		margin-bottom: 40px;
	}
	.inner-portfolio{
		display: table-cell;
		width: 100%;
		height: inherit;
		display: table-cell;
		vertical-align: middle;
	}

	.portfolio-slider-wrapper{
	
		width: 60%;	
		margin: auto;
		height: auto;
		

		.portfolio-slider{
			float: left;
			width: 100%;
			background-color: _palette(white);
			box-shadow: 0 0 30px rgba(0,0,0,0.1);
			height: 450px;
			
			.twentytwenty-wrapper.twentytwenty-horizontal{
				width: 100%;
				height: 100%;



			}
			.portfolio-slide{
				width: 100%;
				height: 100% !important;
				overflow: hidden;
				img{
					height: 100%;
					width: 100%;
				}
			}
		}

		
	}

}